# Segmenting and Clustering Neighborhoods in Toronto - PART 1

In [1]:
# Import needed libraries
import pandas as pd 
import numpy as np 
print('libraries imported!')

libraries imported!

In [2]:
# Load table into a dataframe
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_table = pd.read_html(url,skiprows=1)[0]

# Apply table headers as described by the activity instructions
df_table.columns = ['PostalCode', 'Borough', 'Neighborhood']

In [3]:
# Show raw dataframe - Now it still contains 'Non assigned' and NaN data. 
df_table.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [4]:
# Removes the 'Not Assigned' and missing values
df_table = df_table[df_table.Borough != 'Not assigned']

# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
for index, row in df_table.iterrows():
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']
        
# Group the dataset by PostalCode and Borough.
df_table = df_table.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()

# Show the cleansed dataframe
df_table.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [5]:
# END PART I

# Print the number of rows of your dataframe.
df_table.shape

(103, 3)